.jumbotron{
  background-color: black;
}
.float-right-area{

}
body{
  background-image: url(../images/logo.jpg);
  background-attachment: fixed;

}
.float-left-area{
  margin-left: -20px;
  width:280px;
}
.inner-left{
  float:left;
  background-color: white;
  opacity: 0.9;
  padding-left: 20px;
  padding-right:20px;
}
.container-logo{
  background-color: black;
  color: white;
  padding:50px;
  text-align: center;
}
.inner-right{
  float:right;
  background-color:white;
  opacity: 0.9;
  padding-bottom:20px;
  width:990px;
  padding-left: 10px;
}
.container-fon{
  float:right;
  text-align: center;
  background-color: black;
  color:white;
}
.container-fun{
  float:left;
  text-align: center;
  background-color: black;
  color:white;
}
.container-fluid{
  padding-bottom:30px;
}
h2{
  text-decoration: underline;
}
h3{
  text-decoration: underline;
}
.container-2{
  padding-bottom:150px;
  padding-top: 70px;
  padding-right: 160px;
  text-align: center;
  opacity: 0.725;
  background-color: white;
}
.jumbotron h1, b {
  font-family: cursive;
}