body{
  background-image: url(../img/logo.jpg);
}
.float-left-area{
  margin-left: -20px;
  width:280px;
}
.inner-left{
  float:left;
  background-color: white;
  opacity: 0.9;
  padding-left: 20px;
  padding-right:20px;
}
.inner-right{
  float:right;
  background-color:white;
  opacity: 0.9;
  padding-bottom:20px;
  width:990px;
  padding-left: 10px;
}
